.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.circle1 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: grey;
  margin-right: 0.5rem;
  animation: rotate 1s linear infinite;
}

.circle2 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: grey;
  animation: rotate 1s linear infinite reverse;
}

@keyframes rotate {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1.5);
  }
}