html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

.btn-md {
    padding: .8rem 2rem;
}

.btn:hover {
    color: inherit !important;
    background: inherit !important;
}

.btn_black {
    background: black !important;
    border-color: black !important;
}

.btn_primary {
    background: #16F196 !important;
    border-color: #16F196 !important;
    color: white !important;
}

.btn_secondary {
    background: #12B772 !important;
    border-color: #12B772 !important;
    color: white !important;
}

.btn_primary:hover {
    color: #16F196 !important;
}

.btn_secondary:hover {
    color: #12B772 !important;
}

.primary {
    color: #16F196 !important;
}

.grey {
    color: #efefef;
}

.primary_25 {
    color: #16F19640 !important;
}

.secondary {
    color: #12B772 !important;
}

.trans {
    background-color: transparent !important;
}

.bg_primary {
    background-color: #16F196 !important;
}

.bg_grey {
    background-color: #efefef;
}

.bg_primary_15 {
    background-color: #16f19626 !important;
}

.border_primary {
    border: 1px solid #16F196 !important;
}

.bg_primary_25 {
    background-color: #16F19640 !important;
}

.bg_white {
    background-color: white !important;
}

.bg_white_50 {
    background-color: #ffffff80 !important;
}

.black {
    color: black !important;
}

.white_50 {
    color: #ffffff80 !important;
}

.bg_black {
    background-color: black !important;
}

.bg_black_15 {
    background-color: #00000025 !important;
}

.bg_secondary {
    background-color: #12B772 !important;
}

.border_none {
    border: none !important;
    border-radius: 0 !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: grey !important;
}