.dropdown_menu {
    position: absolute;
    z-index: 1000;
    width: 50vw;
    padding: 0.5rem;
    margin: 0;
    font-size: initial;
    background-color: #fff;
    border: none;
    border-radius: 0.375rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.dropdown_item {
    color: grey;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown_item:hover {
    color: #12B772;
    background-color: #16f19640;
    border-radius: 0.375rem;
}

@media (max-width: 767.98px) {
    .dropdown_menu {
        width: 100%;
    }
}