.bg {
    min-width: 100vw;
    min-height: 100vh;
    background: #222222;
}

.divider {
    padding-top: 8rem;
}

.nav {
    justify-content: space-between;
    padding: .5rem;
}

.nav>ul {
    display: flex;
    list-style: none;
    align-items: start;
}

.nav>ul>li {
    display: flex;
    list-style: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
}

.nav>ul>li>a {
    text-decoration: none;
    color: #808080;
}

.nav>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav>div>a {
    display: flex;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.35rem;
    text-decoration: none;
    color: #c44a54;
    align-items: center;
    border: 1px solid #c44a54;
}

.nav>div>a:hover {
    background: #c44a54;
    color: black;
    border: 1px solid #c44a54;
}

.card {
    padding: 15px !important;
    position: relative;
    border-radius: .5rem;
    /* background: #ffffff1a; */
    border: 1px solid #80808093;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profit_circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 5px solid #c44a54;
    background: #c44a5420;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.qiuck_btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.profit_circle>h1,
.qiuck_btn>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767.98px) {
    .profit_circle {
        width: 80px;
        height: 80px;
        border: 2px solid #c44a54;
    }

    .profit_circle>h1 {
        font-size: 16px;
    }
}

.balanceCard {
    position: relative;
    height: 100px;
    background: white;
    color: black;
    border-radius: 10px;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;
    font-size: 14px;
    border-top-right-radius: 10px;
    background: black;
    color: white;
}

.balance {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-overflow: ellipsis;
}

.balance>span {
    margin-right: 10px;
}

.sidebar {
    width: 250px;
    height: 100%;
    list-style: none;
    padding: 10px 0 0 10px;
}

.sidebar_none_path:hover{
    color: #16F196 !important;
}

.sidebar_path, .sidebar_path:hover {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    background: #ffffff40;
    padding: 1rem;
    border-radius: 10px;
}

.sidebar_none_path {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}