.bg {
    min-width: 100vw;
    min-height: 100vh;
    background: black;
}

.divider {
    padding-top: 8rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav>ul>li {
    display: flex;
    list-style: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
}

.nav>ul>li>a {
    text-decoration: none;
    color: #808080;
}

.nav>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav>div>a {
    display: flex;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.35rem;
    text-decoration: none;
    color: #16F196;
    align-items: center;
    border: 1px solid #16F196;
}

.nav>div>a:hover {
    background: #16F196;
    color: black;
    border: 1px solid #16F196;
}

.card {
    position: relative;
    border-radius: .5rem;
    background: #ffffff20;
    border: 1px solid #808080;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profit_circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 5px solid #16F196;
    background: #16F19620;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profit_circle>h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767.98px) {
    .profit_circle {
        width: 100px;
        height: 100px;
        border: 2.5px solid #16F196;
    }

    .profit_circle>h1 {
        font-size: 24px;
    }
}