.container {
    display: flex;
    height: 100vh;
    background: white;
    color: #0c1a2a;
    text-align: center;
}

.auth_btn,
.auth_btn:focus {
    background: black !important;
    border: none !important;
    color: white !important;
    padding: 1rem 1.5rem;
}

.auth_btn:hover {
    background: black !important;
    border: 1px black solid !important;
    color: white !important;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, .15) !important;
}

.datepicker {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  height: auto;
  font-size: 1rem;
}